<section class="contact" id="contact">

    <div class="contact-wrapper">

        <!-- LEFT : IMAGE -->
        <div class="contact-image">
            <img src="{{ url_for('static', filename='images/hand.png') }}"
                 alt="Contact Illustration">
        </div>

        <!-- RIGHT : CONTENT -->
        <div class="contact-content">
            <h2>LET’S CONNECT</h2>

            <div class="contact-line"></div>

            <ul class="contact-info">

                <!-- Email -->
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:hello@myportfolio.com">
                        midlajjvk@gmail.com
                    </a>
                </li>

                <!-- Phone -->
                <li>
                    <i class="fa-solid fa-phone"></i>
                    <a href="tel:+1555987643">
                        +91 9072 51 5306
                    </a>
                </li>

                <!-- Location -->
                <li>
                    <i class="fa-solid fa-location-dot"></i>
                    <a href="https://maps.app.goo.gl/jKbDZ5JqzPP4Aidi9" target="_blank">
                       Trissur, Kerala
                    </a>
                </li>

                <!-- GitHub -->
                <li>
                    <i class="fa-brands fa-github"></i>
                    <a href="https://github.com/midlajjvk" target="_blank">
                        GitHub
                    </a>
                </li>

                <!-- LinkedIn -->
                <li>
                    <i class="fa-brands fa-linkedin"></i>
                    <a href="https://www.linkedin.com/in/midlajjvk/" target="_blank">
                        LinkedIn
                    </a>
                </li>

            </ul>
        </div>

    </div>
<!-- MESSAGE BOX -->
<div class="contact-message-box">
    <h3>Send a Message</h3>

    <form action="{{ url_for('send_message') }}" method="post">
        <input type="email" name="email" placeholder="Your Email" required>
        <textarea name="message" placeholder="Your Message" required></textarea>
        <button type="submit">Send</button>
    </form>
    
</div>

</section>
