<section class="home" id="home">

    <!-- MAIN ROW CONTENT -->
    <div class="home-main">
        <div class="home-img">
            <span class="bg-text">MIDLAJ</span>
            <img src="{{ url_for('static', filename='images/main.jpg') }}" alt="Profile">
        </div>

        <div class="home-content">
            <h1>Hey, It's <span>Midlaj</span></h1>
            <h3 class="typing-text">I'm a <span></span></h3>
            <p>
                BCA graduate with a strong foundation in computer applications, programming, and Flutter development.
                Possesses good problem-solving skills, adaptability, and a passion for continuous learning.
                Eager to apply academic knowledge and hands-on project experience in a dynamic, growth-oriented environment.
            </p>

            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>

            <a href="#contact" class="btn">Hire me</a>
        </div>
    </div>

    <!-- ICON MARQUEE AT BOTTOM -->
    <div class="icon-marquee">
        <div class="icon-track">
            <i class="fa-brands fa-flutter"></i>
            <i class="fa-brands fa-html5"></i>
            <i class="fa-brands fa-css3-alt"></i>
            <i class="fa-brands fa-js"></i>
            <i class="fa-brands fa-python"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-android"></i>
            <i class="fa-solid fa-database"></i>

            <!-- duplicate for smooth loop -->
            <i class="fa-brands fa-flutter"></i>
            <i class="fa-brands fa-html5"></i>
            <i class="fa-brands fa-css3-alt"></i>
            <i class="fa-brands fa-js"></i>
            <i class="fa-brands fa-python"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-android"></i>
            <i class="fa-solid fa-database"></i>
            
        </div>
    </div>

</section>
