<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">

<section class="skills" id="skills">

    <h2>
        <span class="skills-title-main">My</span>
        <span class="skills-title-accent">Competencies</span>
    </h2>

    <div class="skills-grid">

        <div class="skill-tile"><i class="devicon-flutter-plain"></i><span>Flutter</span></div>
        <div class="skill-tile"><i class="devicon-dart-plain"></i><span>Dart</span></div>
        <div class="skill-tile"><i class="devicon-firebase-plain"></i><span>Firebase</span></div>

        <div class="skill-tile"><i class="fa-brands fa-python"></i><span>Python</span></div>       
        <div class="skill-tile"><i class="fa-brands fa-html5"></i><span>Html</span></div>
        <div class="skill-tile"><i class="fa-brands fa-css3-alt"></i><span>CSS</span></div>

        <div class="skill-tile"><i class="fa-brands fa-js"></i><span>Java Script</span></div>
        <div class="skill-tile"><i class="fa-brands fa-github"></i><span>GitHub</span></div>
        <div class="skill-tile"><i class="devicon-git-plain"></i><span>Version Control</span></div>

    </div>

</section>
