{% extends "base.html" %}

{% block content %}

<section id="home" class="home">
    {% include "sections/home.html" %}
</section>

<section id="skills" class="skills">
    {% include "sections/skills.html" %}
</section>

<section id="Project" class="Project">
    {% include "sections/Project.html" %}
</section>

<section id="education" class="education">
    {% include "sections/education.html" %}
</section>



<section id="contact" class="contact">
    {% include "sections/contact.html" %}
</section>

{% endblock %}
